### This file just tracks what not to synchronize in the repo

# Account.cfg is used for capturing any account information
accounts.cfg



# Build sections
pyvenv.cfg
Lib/site-packages/
Scripts/
Include/