### This file just tracks what not to synchronize in the repo

# Account.ini is used for capturing any account information
accounts.ini


# Build sections
pyvenv.cfg
Lib/site-packages/
Scripts/
Include/